CMS_URL="http://localhost:3000" # The URL your CMS is hosted at. (e.g. http://localhost:3000 locally, and https://cms.mywebsite.com deployed)
WEBSITE_URL="http://localhost:4321" # The URL your Website is hosted at. (e.g. http://localhost:4321 locally and https://mywebsite.com deployed)
VERCEL_ENV="development" # The environment the app is running in, automatically set by VERCEL when deployed